@import "tailwindcss";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .fade-in {
    animation-name: fadeIn;
    animation-duration: 500ms;
  }
}

@keyframes slideInFromTop {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }

    to {
      opacity: 1;
      transform: translateY(-0);
    }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}